@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif; }
  body nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    background-color: black;
    opacity: .9;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 1; }
    body nav #navButton {
      width: 50px;
      height: 50px;
      border-radius: 0 10px 10px 0;
      background-color: black;
      opacity: .9;
      position: absolute;
      top: 0;
      right: -50px;
      transition: .5s;
      margin-left: 0; }
    body nav ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      height: 70%;
      width: 70%;
      color: white; }
      body nav ul li {
        display: flex;
        display: -webkit-flex;
        flex: 1;
        align-items: center;
        transition: .4s;
        font-size: 1vw; }
        body nav ul li i {
          width: 20%;
          font-size: 2em;
          transition: opacity .4s; }
        body nav ul li span {
          transition: opacity .2s;
          width: 80%;
          text-transform: uppercase;
          font-size: 1.5em;
          text-align: center; }
        body nav ul li:hover {
          color: blue;
          cursor: pointer; }
  body nav.off {
    width: 0vw; }
    body nav.off span, body nav.off i {
      opacity: 0; }
  body section {
    width: 100%;
    height: 100vh;
    display: none; }
    body section .emptyContent {
      flex: 2;
      float: left;
      transition: all .5s; }
    body section .emptyContent.hide {
      flex: 0; }
    body section .content {
      display: flex;
      display: -webkit-flex;
      flex: 8;
      height: 100vh;
      float: right;
      color: white;
      justify-content: center;
      align-items: center; }
  body section.displayFlex {
    display: flex;
    display: -webkit-flex; }
  body section#one {
    background: url("../img/ship.jpg") no-repeat bottom;
    background-size: cover; }
    body section#one .content {
      flex-direction: column; }
      body section#one .content h1, body section#one .content p {
        width: 70%;
        margin: 2%;
        text-align: left;
        text-shadow: 2px 2px 1px #000066; }
      body section#one .content h1 {
        font-size: 5em; }
      body section#one .content p {
        font-size: 2em; }
  body section#two {
    background: url("https://ocs-pl.oktawave.com/v1/AUTH_f9dd5582-c0b6-4b27-a573-ecf06cf3ef09/tropter-www/uploads/attachments/1e56a4e740e68bcf54b28fb22187dc2fa0df4e79/big.jpeg?t=20180803111119") no-repeat bottom;
    background-size: cover; }
    body section#two .content {
      flex-direction: column; }
      body section#two .content .slideshow-container {
        width: 60%;
        height: 50vh;
        position: relative;
        text-shadow: none; }
        body section#two .content .slideshow-container .mySlides {
          width: 100%;
          height: 100%;
          background-color: black;
          opacity: .9;
          display: none;
          flex-direction: row;
          -webkit-flex-direction: row;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          -webkit-box-shadow: 0px 0px 49px 36px rgba(250, 250, 250, 0.3);
          -moz-box-shadow: 0px 0px 49px 36px rgba(250, 250, 250, 0.3);
          box-shadow: 0px 0px 49px 36px rgba(250, 250, 250, 0.3); }
          body section#two .content .slideshow-container .mySlides .numbertext {
            color: #f2f2f2;
            font-size: 1em;
            padding: 3%;
            font-weight: bold;
            position: absolute;
            top: 0; }
          body section#two .content .slideshow-container .mySlides p {
            display: inline-block;
            width: 60%;
            text-align: center; }
          body section#two .content .slideshow-container .mySlides .text {
            color: #f2f2f2;
            font-size: 1.5em;
            padding: 3%;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center; }
        body section#two .content .slideshow-container .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s; }
@-webkit-keyframes fade {
  from {
    opacity: 0.6; }
  to {
    opacity: .9; } }
@keyframes fade {
  from {
    opacity: 0.6; }
  to {
    opacity: .9; } }
        body section#two .content .slideshow-container .prev, body section#two .content .slideshow-container .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0; }
          body section#two .content .slideshow-container .prev:hover, body section#two .content .slideshow-container .next:hover {
            background-color: rgba(0, 0, 0, 0.8); }
        body section#two .content .slideshow-container .next {
          right: 0;
          border-radius: 3px 0 0 3px; }
      body section#two .content h3 {
        margin-top: 10%;
        color: black;
        text-shadow: 2px 2px 3px white;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center; }
  body section#tree .content {
    color: black;
    flex-direction: column;
    -webkit-flex-direction: column; }
    body section#tree .content #pricesAndHours {
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40%; }
      body section#tree .content #pricesAndHours #price, body section#tree .content #pricesAndHours #hour {
        flex: 1;
        height: 80%;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 5px;
        -webkit-box-shadow: 5px 5px 20px 0px #a399a3;
        -moz-box-shadow: 5px 5px 20px 0px #a399a3;
        box-shadow: 5px 5px 20px 0px #a399a3;
        margin: 5%; }
        body section#tree .content #pricesAndHours #price i, body section#tree .content #pricesAndHours #hour i {
          font-size: 5em;
          margin-right: 5%; }
        body section#tree .content #pricesAndHours #price ul, body section#tree .content #pricesAndHours #hour ul {
          width: 50%;
          list-style-type: none; }
          body section#tree .content #pricesAndHours #price ul li, body section#tree .content #pricesAndHours #hour ul li {
            display: flex;
            display: -webkit-flex;
            flex-direction: row;
            -webkit-flex-direction: row;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            font-weight: 900; }
            body section#tree .content #pricesAndHours #price ul li span, body section#tree .content #pricesAndHours #hour ul li span {
              color: red;
              font-size: 1.1em;
              text-transform: capitalize; }
      body section#tree .content #pricesAndHours #hour ul li {
        justify-content: space-around; }
        body section#tree .content #pricesAndHours #hour ul li:nth-child(1) {
          font-size: 1.3em; }
        body section#tree .content #pricesAndHours #hour ul li:nth-child(2), body section#tree .content #pricesAndHours #hour ul li:nth-child(3) {
          color: red;
          font-size: 1.2em; }
    body section#tree .content h3 {
      font-size: 1.4em;
      margin-top: 5%; }

@media only screen and (min-width: 801px) {
  body nav #navButton {
    display: none; } }
@media only screen and (max-width: 800px) {
  body nav {
    width: 30vw; }
    body nav ul {
      width: 90%;
      height: 90%; }
      body nav ul li {
        border: none;
        margin-bottom: 10%;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        padding: 10%; }
        body nav ul li:last-child i, body nav ul li:last-child span {
          font-size: 3em; }
        body nav ul li:last-child span {
          width: 100%; }
        body nav ul li i, body nav ul li span {
          font-size: 3em;
          font-weight: bold; }
  body section .emptyContent {
    display: none; }
  body section .content {
    flex: 1; }
  body section#one .content h1 {
    font-size: 3em;
    text-align: right;
    margin-bottom: 10%; }
  body section#one .content p {
    width: 80%;
    font-size: 1em;
    text-align: right;
    text-transform: uppercase;
    line-height: 1.2; }
  body section#two .content .slideshow-container {
    width: 80%;
    height: 60%; }
    body section#two .content .slideshow-container .mySlides {
      flex-direction: column; }
  body section#two .content h3 {
    width: 80%; }
  body section#tree .content #pricesAndHours {
    height: 50%; }
    body section#tree .content #pricesAndHours #price, body section#tree .content #pricesAndHours #hour {
      flex-direction: column;
      -webkit-flex-direction: column; }
      body section#tree .content #pricesAndHours #price i, body section#tree .content #pricesAndHours #hour i {
        font-size: 4em; }
      body section#tree .content #pricesAndHours #price ul, body section#tree .content #pricesAndHours #hour ul {
        width: 90%; }
    body section#tree .content #pricesAndHours #price ul li {
      margin: 3% 0;
      font-size: .7em; }
      body section#tree .content #pricesAndHours #price ul li span {
        font-size: 1.2em; }
    body section#tree .content #pricesAndHours #hour ul li:nth-child(1) {
      font-size: 1em; }
    body section#tree .content #pricesAndHours #hour ul li:nth-child(2), body section#tree .content #pricesAndHours #hour ul li:nth-child(3) {
      color: red;
      font-weight: 900;
      font-size: .8em; }
  body section#tree .content h3 {
    width: 90%;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
