@import url("https://fonts.googleapis.com/css?family=Kalam:400");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-family: 'Kalam', cursive;
  /*add/remove classes*/ }
  body #loadingPage {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #F8FAD7;
    color: white;
    position: absolute;
    z-index: 20;
    transition: opacity .3s; }
    body #loadingPage #loader {
      position: absolute;
      width: 8vmax;
      height: 8vmax;
      border-right: 2px solid red;
      border-radius: 100%;
      animation: spinRight 1000ms linear infinite; }
      body #loadingPage #loader:before, body #loadingPage #loader:after {
        content: '';
        width: 5vmax;
        height: 5vmax;
        display: block;
        position: absolute;
        top: calc(50% - 2.5vmax);
        left: calc(50% - 2.5vmax);
        border-left: 2px solid black;
        border-radius: 100%;
        animation: spinLeft 800ms linear infinite;
        -webkit-animation: spinLeft 800ms linear infinite; }
      body #loadingPage #loader:after {
        width: 2vmax;
        height: 2vmax;
        top: calc(50% - 1vmax);
        left: calc(50% - 1vmax);
        border: 0;
        border-right: 2px solid purple;
        animation: none; }
@keyframes spinLeft {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(720deg); } }
@keyframes spinRight {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
@-webkit-keyframes spinLeft {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(720deg); } }
@-webkit-keyframes spinRight {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
    body #loadingPage h1 {
      color: black;
      animation: changeColor 600ms linear infinite;
      -webkit-animation: changeColor 600ms linear infinite;
      font-size: 1.2em;
      letter-spacing: 2px; }
@keyframes changeColor {
  0% {
    color: black;
    transform: scale(1);
    opacity: .6; }
  50% {
    color: red;
    transform: scale(1.1);
    opacity: .3; }
  100% {
    color: purple;
    transform: scale(1);
    opacity: .6; } }
@-webkit-keyframes changeColor {
  0% {
    color: black;
    transform: scale(1);
    opacity: .6; }
  30% {
    color: red;
    transform: scale(1.1);
    opacity: .3; }
  100% {
    color: purple;
    transform: scale(1);
    opacity: .6; } }
  body #loadingPage.pageLoaded {
    opacity: 0; }
  body nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    background-color: black;
    opacity: .9;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    transition: width .5s;
    z-index: 19; }
    body nav #navButton {
      display: flex;
      display: -webkit-flex;
      align-items: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 0 50% 50% 0;
      background-color: black;
      opacity: .9;
      position: absolute;
      top: 0;
      right: -50px;
      transition: .5s;
      margin-left: 0; }
      body nav #navButton #compassBody {
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        width: 95%;
        height: 95%;
        background-color: white;
        border: 2px solid black;
        border-radius: 50%;
        opacity: .8; }
        body nav #navButton #compassBody #compassNeedle {
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          -webkit-flex-direction: column;
          justify-content: center;
          -webkit-justify-content: center;
          width: 17%;
          height: 95%;
          -webkit-transform: rotate(30deg);
          -webkit-transform-origin: 50% 50%;
          transform: rotate(30deg);
          transform-origin: 50% 50%;
          transition: all 800ms cubic-bezier(1, -0.6, 0, 1.65);
          -webkit-transition: all 800ms cubic-bezier(1, -0.6, 0, 1.65);
          -moz-transition: all 800ms cubic-bezier(1, -0.6, 0, 1.65); }
          body nav #navButton #compassBody #compassNeedle #needleUp {
            width: 100%;
            height: 50%;
            background-color: black;
            clip-path: polygon(50% 0, 0 100%, 100% 100%);
            -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%); }
          body nav #navButton #compassBody #compassNeedle #needleDown {
            width: 100%;
            height: 50%;
            background-color: red;
            clip-path: polygon(100% 0, 50% 100%, 0 0);
            -webkit-clip-path: polygon(100% 0, 50% 100%, 0 0); }
        body nav #navButton #compassBody #compassNeedle.press {
          -webkit-transform: rotate(930deg);
          -webkit-transform-origin: 50% 50%;
          transform: rotate(930deg);
          transform-origin: 50% 50%; }
    body nav ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      height: 70%;
      width: 70%; }
      body nav ul li {
        display: flex;
        display: -webkit-flex;
        flex: 1;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        justify-content: space-between;
        transition: .4s;
        font-size: 1vw;
        color: white; }
        body nav ul li i {
          flex: 1;
          font-size: 2em;
          transition: opacity .4s; }
        body nav ul li span {
          flex: 3;
          transition: opacity .2s;
          text-transform: uppercase;
          font-size: 1.5em;
          text-align: center; }
        body nav ul li:hover {
          color: red;
          cursor: pointer; }
  body nav.off {
    width: 0vw; }
    body nav.off ul li {
      opacity: 0; }
  body section {
    width: 100vw;
    height: 100vh;
    display: none;
    filter: blur(35px);
    opacity: 0;
    -webkit-opacity: 0;
    -webkit-filter: blur(35px);
    overflow: hidden;
    transition: .5s; }
    body section .wallpapers {
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      animation: zoom infinite 30s; }
@keyframes zoom {
  0% {
    transform: scale(1);
    filter: sepia(100%) saturate(100%); }
  50% {
    transform: scale(1.2);
    filter: sepia(0%) saturate(110%); }
  100% {
    transform: scale(1);
    filter: sepia(100%) saturate(100%); } }
@-webkit-keyframes zoom {
  0% {
    transform: scale(1);
    filter: sepia(100%) saturate(100%); }
  50% {
    transform: scale(1.2);
    filter: sepia(0%) saturate(110%); }
  100% {
    transform: scale(1);
    filter: sepia(100%) saturate(100%); } }
    body section .emptyContent {
      width: 20%;
      float: left;
      transition: .5s; }
    body section .content {
      display: flex;
      display: -webkit-flex;
      width: 80%;
      height: 100%;
      float: right;
      justify-content: center;
      align-items: center;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      text-shadow: 2px -1px 2px #000000;
      color: white; }
  body section#one .wallpapers {
    background: url("../img/1.jpg") no-repeat center;
    background-size: cover; }
  body section#one .content {
    flex-direction: column; }
    body section#one .content h1, body section#one .content p {
      width: 70%;
      margin: 2%;
      text-align: left; }
    body section#one .content h1 {
      font-size: 5em; }
    body section#one .content p {
      font-size: 2em; }
  body section#two .wallpapers {
    background: url("../img/2.jpg") no-repeat center;
    background-size: cover; }
  body section#two .content {
    flex-direction: column; }
    body section#two .content .slideshow-container {
      width: 60%;
      height: 70%;
      position: relative;
      text-shadow: none; }
      body section#two .content .slideshow-container .mySlides {
        background-image: url("../img/mini-map.jpg");
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        opacity: .9;
        display: none;
        color: black;
        flex-direction: row;
        -webkit-flex-direction: row;
        align-items: center;
        -webkit-align-items: center;
        border: 4px solid white; }
        body section#two .content .slideshow-container .mySlides .numbertext {
          width: 100%;
          text-align: center;
          font-size: 1.5em;
          padding: 1%;
          font-weight: bold;
          position: absolute;
          color: #438f48;
          top: 0;
          color: #b3dd70;
          text-shadow: 2px 2px 2px #438f48; }
        body section#two .content .slideshow-container .mySlides img {
          position: absolute;
          width: 25%;
          left: 5%;
          top: 50%;
          border-radius: 50%;
          border: 2px solid white; }
        body section#two .content .slideshow-container .mySlides .text {
          font-size: 1.3vw;
          position: absolute;
          left: 8%;
          top: 30%;
          width: 30%;
          text-align: center;
          text-transform: uppercase;
          background-color: white;
          opacity: .8;
          border-radius: 10px; }
        body section#two .content .slideshow-container .mySlides .target {
          position: absolute;
          color: black;
          width: 3%;
          height: 4%;
          border-radius: 50%;
          opacity: .9;
          animation: puls infinite 1s;
          -webkit-box-shadow: 0px 0px 5px 3px #ff5252;
          -moz-box-shadow: 0px 0px 5px 3px #ff5252;
          box-shadow: 0px 0px 5px 3px #ff5252; }
@keyframes puls {
  0% {
    transform: scale(0.95);
    opacity: .1; }
  50% {
    transform: scale(1.1);
    opacity: .95; }
  100% {
    transform: scale(0.95);
    opacity: .1; } }
@-webkit-keyframes puls {
  0% {
    transform: scale(0.95);
    opacity: .1;
    box-shadow: 0px 0px 5px 3px #ff5252; }
  50% {
    transform: scale(1.1);
    opacity: .95;
    box-shadow: 0px 0px 10px 5px #ff5252; }
  100% {
    transform: scale(0.95);
    opacity: .1;
    box-shadow: 0px 0px 5px 3px #ff5252; } }
        body section#two .content .slideshow-container .mySlides .target#id1 {
          background-color: red;
          left: 31%;
          top: 63.5%; }
        body section#two .content .slideshow-container .mySlides .target#id2 {
          background-color: red;
          left: 42.5%;
          top: 90%; }
        body section#two .content .slideshow-container .mySlides .target#id3 {
          background-color: red;
          left: 54.3%;
          top: 93.55%; }
        body section#two .content .slideshow-container .mySlides .target#id4 {
          background-color: red;
          left: 52.5%;
          top: 83.8%; }
        body section#two .content .slideshow-container .mySlides .target#id5 {
          background-color: red;
          left: 39.6%;
          top: 64.7%; }
        body section#two .content .slideshow-container .mySlides .target#id6 {
          background-color: red;
          left: 45%;
          top: 61.5%; }
        body section#two .content .slideshow-container .mySlides .target#id7 {
          background-color: red;
          left: 48.55%;
          top: 55.65%; }
        body section#two .content .slideshow-container .mySlides .target#id8 {
          background-color: red;
          left: 59.5%;
          top: 43.3%; }
        body section#two .content .slideshow-container .mySlides .target#id9 {
          background-color: red;
          left: 61.1%;
          top: 36.7%; }
        body section#two .content .slideshow-container .mySlides .target#id10 {
          background-color: red;
          left: 60.3%;
          top: 13.4%; }
        body section#two .content .slideshow-container .mySlides .target#id11 {
          background-color: red;
          left: 61.7%;
          top: 6.15%; }
        body section#two .content .slideshow-container .mySlides .target#id12 {
          background-color: red;
          left: 26.3%;
          top: 13.2%; }
        body section#two .content .slideshow-container .mySlides .target#id13 {
          background-color: red;
          left: 13.5%;
          top: 10.5%; }
        body section#two .content .slideshow-container .mySlides .target#id14 {
          background-color: red;
          left: 51.4%;
          top: 19.8%; }
        body section#two .content .slideshow-container .mySlides .target#id15 {
          background-color: red;
          left: 50.5%;
          top: 38.4%; }
        body section#two .content .slideshow-container .mySlides .target#id16 {
          background-color: red;
          left: 48.5%;
          top: 45.7%; }
        body section#two .content .slideshow-container .mySlides .target#id17 {
          background-color: red;
          left: 32.7%;
          top: 54.4%; }
      body section#two .content .slideshow-container .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s; }
@-webkit-keyframes fade {
  from {
    opacity: 0.6; }
  to {
    opacity: .9; } }
@keyframes fade {
  from {
    opacity: 0.6; }
  to {
    opacity: .9; } }
      body section#two .content .slideshow-container .prev, body section#two .content .slideshow-container .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        font-weight: bold;
        font-size: 4em;
        transition: 0.2s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transform: translateY(-50%); }
      body section#two .content .slideshow-container .next {
        right: -1%;
        color: white;
        text-shadow: 6px 0px 10px #b3dd70; }
        body section#two .content .slideshow-container .next:active {
          font-size: 3.8em; }
      body section#two .content .slideshow-container .prev {
        left: -1%;
        color: #b3dd70;
        text-shadow: -6px 0px 10px #438f48; }
        body section#two .content .slideshow-container .prev:active {
          font-size: 3.8em; }
    body section#two .content h3 {
      margin-top: 5%;
      text-transform: uppercase;
      font-weight: 900;
      text-align: center; }
  body section#tree .wallpapers {
    background: url("../img/3.jpg") no-repeat center;
    background-size: cover; }
  body section#tree .content #pricesAndHours {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 60%;
    opacity: .7; }
    body section#tree .content #pricesAndHours #price, body section#tree .content #pricesAndHours #hour {
      position: relative;
      flex: 1;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      color: black;
      background-color: white;
      border-radius: 30px;
      text-shadow: none;
      font-size: 1.7em;
      text-align: center;
      border: 5px solid black;
      justify-content: flex-end;
      align-items: center;
      -webkit-justify-content: flex-end;
      -webkit-align-items: center;
      margin: 0 5%;
      -webkit-box-shadow: 16px 17px 57px -1px #807980;
      -moz-box-shadow: 16px 17px 57px -1px #807980;
      box-shadow: 16px 17px 57px -1px #807980; }
      body section#tree .content #pricesAndHours #price .iconRound, body section#tree .content #pricesAndHours #hour .iconRound {
        position: absolute;
        top: 5%;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: black;
        opacity: .9;
        border: 5px solid white;
        box-shadow: 16px 17px 57px -1px #8f8f8f;
        -webkit-box-shadow: 16px 17px 57px -1px #8f8f8f; }
        body section#tree .content #pricesAndHours #price .iconRound i, body section#tree .content #pricesAndHours #hour .iconRound i {
          font-size: 2.5em;
          color: white; }
      body section#tree .content #pricesAndHours #price ul, body section#tree .content #pricesAndHours #hour ul {
        width: 70%;
        list-style-type: none;
        margin-bottom: 2%; }
        body section#tree .content #pricesAndHours #price ul li, body section#tree .content #pricesAndHours #hour ul li {
          display: flex;
          display: -webkit-flex;
          flex-direction: row;
          -webkit-flex-direction: row;
          align-items: center;
          -webkit-align-items: center;
          justify-content: space-between;
          -webkit-justify-content: space-between;
          margin: 5% 0; }
          body section#tree .content #pricesAndHours #price ul li span, body section#tree .content #pricesAndHours #hour ul li span {
            display: flex;
            align-items: center;
            -webkit-align-items: center;
            text-transform: uppercase;
            flex-direction: row;
            -webkit-flex-direction: row; }
            body section#tree .content #pricesAndHours #price ul li span:nth-child(1), body section#tree .content #pricesAndHours #hour ul li span:nth-child(1) {
              flex: 2; }
            body section#tree .content #pricesAndHours #price ul li span:nth-child(2), body section#tree .content #pricesAndHours #hour ul li span:nth-child(2) {
              flex: 1; }
          body section#tree .content #pricesAndHours #price ul li span.agePrice, body section#tree .content #pricesAndHours #hour ul li span.agePrice {
            color: red;
            font-size: 1.1em;
            text-transform: lowercase;
            justify-content: flex-end;
            -webkit-justify-content: flex-end; }
          body section#tree .content #pricesAndHours #price ul li span.ageInfo, body section#tree .content #pricesAndHours #hour ul li span.ageInfo {
            margin-left: 4%;
            font-size: .5em; }
    body section#tree .content #pricesAndHours #hour ul li {
      justify-content: center;
      -webkit-justify-content: center; }
      body section#tree .content #pricesAndHours #hour ul li:nth-child(1) {
        font-size: 1.3em; }
      body section#tree .content #pricesAndHours #hour ul li:nth-child(2), body section#tree .content #pricesAndHours #hour ul li:nth-child(3) {
        font-size: 1.3em;
        color: red; }
        body section#tree .content #pricesAndHours #hour ul li:nth-child(2) sup, body section#tree .content #pricesAndHours #hour ul li:nth-child(3) sup {
          font-size: .6em;
          padding-bottom: 5%;
          margin: 0 2%; }
  body section#four .wallpapers {
    background: url("../img/4.jpg") no-repeat center;
    background-size: cover; }
  body section#four .content {
    height: 96vh;
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    color: black;
    text-shadow: 2px 1px 1px #FFFFFF; }
    body section#four .content #location, body section#four .content #reservation {
      width: 50%;
      height: 100%;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column; }
    body section#four .content #location {
      -webkit-justify-content: center;
      -webkit-align-items: center;
      justify-content: center;
      align-items: center; }
      body section#four .content #location #map {
        width: 90%;
        height: 90%;
        border-radius: 20px;
        border: 7px solid white;
        opacity: .7;
        -webkit-box-shadow: 0px 0px 77px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 77px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 77px -6px rgba(0, 0, 0, 0.75); }
      body section#four .content #location h4 {
        width: 90%;
        text-align: center;
        text-transform: uppercase;
        line-height: 110%;
        font-size: .8em;
        margin-top: 2%; }
    body section#four .content #reservation {
      -webkit-justify-content: center;
      -webkit-align-items: center;
      justify-content: center;
      align-items: center; }
      body section#four .content #reservation span {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        align-items: baseline;
        -webkit-align-items: baseline;
        text-transform: uppercase; }
        body section#four .content #reservation span i {
          margin-right: 3%; }
        body section#four .content #reservation span:nth-child(2) {
          color: red;
          margin: 10%;
          font-size: 2.5em; }
          body section#four .content #reservation span:nth-child(2) i {
            font-size: 1em;
            transform: rotate(0deg);
            animation: shake 3s infinite;
            -webkit-animation: shake 3s infinite; }
@keyframes shake {
  0% {
    transform: rotate(0deg) scale(1); }
  2% {
    transform: rotate(-15deg) scale(1.5); }
  4% {
    transform: rotate(0deg) scale(1.5); }
  8% {
    transform: rotate(-15deg) scale(1.5); }
  10% {
    transform: rotate(0deg) scale(1.5); }
  12% {
    transform: rotate(-15deg) scale(1.5); }
  14% {
    transform: rotate(0deg) scale(1.5); }
  16% {
    transform: rotate(-15deg) scale(1.5); }
  18% {
    transform: rotate(0deg) scale(1); }
  100% {
    transform: rotate(0deg) scale(1); } }
@-webkit-keyframes shake {
  0% {
    transform: rotate(0deg) scale(1); }
  2% {
    transform: rotate(-15deg) scale(1.5); }
  4% {
    transform: rotate(0deg) scale(1.5); }
  8% {
    transform: rotate(-15deg) scale(1.5); }
  10% {
    transform: rotate(0deg) scale(1.5); }
  12% {
    transform: rotate(-15deg) scale(1.5); }
  14% {
    transform: rotate(0deg) scale(1.5); }
  16% {
    transform: rotate(-15deg) scale(1.5); }
  18% {
    transform: rotate(0deg) scale(1); }
  100% {
    transform: rotate(0deg) scale(1); } }
          body section#four .content #reservation span:nth-child(2) p {
            letter-spacing: 2px; }
        body section#four .content #reservation span:nth-child(3) {
          font-size: 1.3em; }
          body section#four .content #reservation span:nth-child(3) i {
            font-size: 1.8em;
            animation: write 3s infinite;
            -webkit-animation: write 3s infinite; }
@keyframes write {
  0% {
    transform: translate(0%, 0%); }
  60% {
    transform: translate(0%, 0%) scale(1) rotate(0deg); }
  65% {
    transform: translate(-10%, -30%) scale(1.5) rotate(-5deg); }
  70% {
    transform: translate(10%, 10%) scale(1.5) rotate(5deg); }
  75% {
    transform: translate(20%, -30%) scale(1.5) rotate(-5deg); }
  80% {
    transform: translate(30%, 10%) scale(1.5) rotate(5deg); }
  95% {
    transform: translate(40%, -30%) scale(1.5) rotate(-5deg); }
  100% {
    transform: translate(0%, 0%) scale(1) rotate(0deg); } }
@-webkit-keyframes write {
  0% {
    transform: translate(0%, 0%); }
  60% {
    transform: translate(0%, 0%) scale(1) rotate(0deg); }
  65% {
    transform: translate(-10%, -30%) scale(1.5) rotate(-5deg); }
  70% {
    transform: translate(10%, 10%) scale(1.5) rotate(5deg); }
  75% {
    transform: translate(20%, -30%) scale(1.5) rotate(-5deg); }
  80% {
    transform: translate(30%, 10%) scale(1.5) rotate(5deg); }
  95% {
    transform: translate(40%, -30%) scale(1.5) rotate(-5deg); }
  100% {
    transform: translate(0%, 0%) scale(1) rotate(0deg); } }
  body section#four #footer {
    position: absolute;
    height: 4vh;
    width: 100vw;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: .8;
    color: white;
    z-index: 18;
    display: flex;
    -webkit-display: flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    justify-content: center;
    align-items: center; }
    body section#four #footer p {
      position: relative;
      font-size: .5em;
      text-transform: uppercase;
      user-select: none;
      -webkit-align-items: center;
      -webkit-user-select: none;
      -moz-user-select: none; }
      body section#four #footer p span#myMail {
        flex-direction: row;
        -webkit-flex-direction: row;
        color: red;
        cursor: pointer;
        transition: .2s;
        letter-spacing: 1px;
        user-select: auto;
        -webkit-user-select: auto;
        -moz-user-select: auto; }
        body section#four #footer p span#myMail:active {
          opacity: .3;
          font-size: .95em; }
      body section#four #footer p #myMailInfo {
        opacity: 0;
        transition: .3s;
        position: absolute;
        top: -50%;
        left: 90%;
        background-color: white;
        color: black;
        text-align: center;
        padding: 1% 2%;
        border-radius: 10px;
        text-transform: uppercase;
        letter-spacing: 1px; }
      body section#four #footer p #myMailInfo.copied {
        opacity: 1; }
  body section.changeEffects {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -webkit-opacity: 1; }
  body section.displayFlex {
    display: flex;
    display: -webkit-flex; }
  body section .emptyContent.hide {
    width: 0%; }

@media only screen and (max-width: 768px) {
  body nav {
    width: 30vw; }
    body nav ul {
      width: 90%;
      height: 90%; }
      body nav ul li {
        border: none;
        padding: 0;
        font-weight: bold;
        font-size: .6em;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center; }
        body nav ul li i {
          font-size: 4em;
          flex: 0;
          margin: 3%; }
        body nav ul li span {
          flex: 0; }
  body section .emptyContent {
    display: none; }
  body section .content {
    width: 100%; }
  body section#one .content h1 {
    font-size: 3em;
    text-align: right;
    margin-bottom: 10%; }
  body section#one .content p {
    width: 80%;
    font-size: 1em;
    text-align: right;
    text-transform: uppercase;
    line-height: 1.2; }
  body section#two .content .slideshow-container {
    width: 99%; }
    body section#two .content .slideshow-container .mySlides {
      flex-direction: row;
      -webkit-flex-direction: row;
      border-radius: 10px; }
      body section#two .content .slideshow-container .mySlides .text {
        font-size: 3vw; }
    body section#two .content .slideshow-container .prev, body section#two .content .slideshow-container .next {
      font-size: 2.8em; }
      body section#two .content .slideshow-container .prev:active, body section#two .content .slideshow-container .next:active {
        font-size: 2.5em; }
    body section#two .content .slideshow-container .prev {
      left: 2%; }
    body section#two .content .slideshow-container .next {
      right: 2%; }
  body section#two .content h3 {
    width: 90%; }
  body section#tree .content #pricesAndHours {
    width: 90%;
    height: 90%;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse; }
    body section#tree .content #pricesAndHours #price, body section#tree .content #pricesAndHours #hour {
      border-radius: 30px;
      border: 2px solid black;
      margin: 5% 0;
      justify-content: center;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-box-shadow: 10px 10px 10px -1px #807980;
      -moz-box-shadow: 10px 10px 10px -1px #807980;
      box-shadow: 10px 10px 10px -1px #807980; }
      body section#tree .content #pricesAndHours #price .iconRound, body section#tree .content #pricesAndHours #hour .iconRound {
        top: -10%;
        left: -5%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: black;
        opacity: .9;
        border: 2px solid white;
        -webkit-box-shadow: 10px 30px 30px -10px #807980; }
        body section#tree .content #pricesAndHours #price .iconRound i, body section#tree .content #pricesAndHours #hour .iconRound i {
          font-size: 1.5em;
          color: white; }
      body section#tree .content #pricesAndHours #price ul, body section#tree .content #pricesAndHours #hour ul {
        display: flex;
        display: -webkit-flex;
        width: 50%;
        height: 60%;
        margin-bottom: 0%;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        flex-direction: column;
        -webkit-flex-direction: column;
        font-size: .6em; }
        body section#tree .content #pricesAndHours #price ul li, body section#tree .content #pricesAndHours #hour ul li {
          margin: 0; }
    body section#tree .content #pricesAndHours #price {
      z-index: 16; }
      body section#tree .content #pricesAndHours #price ul li span.ageInfo {
        font-size: .4em; }
    body section#tree .content #pricesAndHours #hour ul li:nth-child(1) {
      font-size: 1em; }
  body section#four .content {
    flex-direction: column-reverse;
    -webkit-flex-direction: reverse; }
    body section#four .content #location, body section#four .content #reservation {
      width: 100%;
      height: 50%; }
    body section#four .content #reservation span:nth-child(2) {
      font-size: 2.1em; }
    body section#four .content #reservation span:nth-child(3) {
      font-size: .9em; }
    body section#four .content #location #map {
      width: 90%;
      height: 90%;
      border-radius: 3px;
      border: 2px solid white; }
    body section#four .content #location h4 {
      font-size: .6em; } }
@media only screen and (orientation: landscape) and (max-device-width: 768px) {
  body nav ul li {
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center; }
    body nav ul li i {
      flex: 1;
      margin: 0;
      text-align: center; }
    body nav ul li span {
      flex: 3;
      font-size: 2em; }
  body section#two .content .slideshow-container {
    height: 95%;
    width: 70%; }
    body section#two .content .slideshow-container .mySlides .text {
      width: 40%;
      font-size: 2vw; }
  body section#two .content h3 {
    margin: 0;
    width: 100%;
    font-size: 1em; }
  body section#tree .content #pricesAndHours {
    width: 80%;
    height: 70%;
    flex-direction: row;
    -webkit-flex-direction: row; }
    body section#tree .content #pricesAndHours #price, body section#tree .content #pricesAndHours #hour {
      border-radius: 20px;
      font-size: 1.8em;
      border: 3px solid black;
      margin: 2%;
      -webkit-box-shadow: 5px 10px 20px -5px #807980;
      -moz-box-shadow: 5px 10px 20px -5px #807980;
      box-shadow: 5px 10px 20px -5px #807980; }
      body section#tree .content #pricesAndHours #price .iconRound, body section#tree .content #pricesAndHours #hour .iconRound {
        left: calc(50% - 45px);
        width: 90px;
        height: 90px;
        border: 3px solid white;
        -webkit-box-shadow: 5px 10px 20px -5px #8f8f8f;
        box-shadow: 5px 10px 20px -5px #8f8f8f; }
        body section#tree .content #pricesAndHours #price .iconRound i, body section#tree .content #pricesAndHours #hour .iconRound i {
          font-size: 1em; }
      body section#tree .content #pricesAndHours #price ul, body section#tree .content #pricesAndHours #hour ul {
        height: 95%;
        width: 75%;
        margin-top: 30%;
        justify-content: center;
        -webkit-justify-content: center; }
        body section#tree .content #pricesAndHours #price ul li, body section#tree .content #pricesAndHours #hour ul li {
          margin: 2% 0; }
    body section#tree .content #pricesAndHours #hour ul {
      margin-right: 0%; }
      body section#tree .content #pricesAndHours #hour ul li:nth-child(1) {
        font-size: 1.1em; }
      body section#tree .content #pricesAndHours #hour ul li:nth-child(2), body section#tree .content #pricesAndHours #hour ul li:nth-child(3) {
        font-size: 1.1em;
        color: red; }
  body section#four .content {
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse; }
    body section#four .content #location, body section#four .content #reservation {
      width: 50%;
      height: 100%; }
    body section#four .content #location #map {
      width: 80%;
      height: 80%; }
    body section#four .content #location h4 {
      font-size: .6em; } }
@media only screen and (orientation: portrait) and (max-device-width: 768px) {
  @keyframes zoom {
    0% {
      transform: scale(1);
      filter: sepia(100%) saturate(100%); }
    50% {
      transform: scale(1.1);
      filter: sepia(0%) saturate(110%); }
    100% {
      transform: scale(1);
      filter: sepia(100%) saturate(100%); } }
  @-webkit-keyframes zoom {
    0% {
      transform: scale(1);
      filter: sepia(100%) saturate(100%); }
    50% {
      transform: scale(1.1);
      filter: sepia(0%) saturate(110%); }
    100% {
      transform: scale(1);
      filter: sepia(100%) saturate(100%); } }
  body section#two .content .slideshow-container {
    width: 99%;
    height: 50%; }
  body section#one .wallpapers, body section#two .wallpapers, body section#tree .wallpapers, body section#four .wallpapers {
    background-position: 35% 100%;
    background-size: auto 100%;
    animation: zoom infinite 10s; } }
@media only screen and (orientation: portrait) and (min-device-width: 769px) {
  body nav ul li {
    font-size: 1.3vw; }
  body section#one .content h1 {
    font-size: 9em;
    text-align: center;
    margin-bottom: 10%; }
  body section#one .content p {
    width: 80%;
    font-size: 2em;
    text-align: justify;
    text-transform: uppercase;
    line-height: 1.8; }
  body section#two .content .slideshow-container {
    width: 90%;
    height: 80%; }
    body section#two .content .slideshow-container .mySlides {
      flex-direction: column;
      -webkit-flex-direction: column; }
      body section#two .content .slideshow-container .mySlides .numbertext, body section#two .content .slideshow-container .mySlides .text {
        font-size: 2.5vw; }
      body section#two .content .slideshow-container .mySlides img {
        margin: 5%; }
  body section#tree .content {
    font-size: 3em; }
    body section#tree .content #pricesAndHours #price, body section#tree .content #pricesAndHours #hour {
      height: 100%;
      width: 100%;
      justify-content: flex-end;
      -webkit-justify-content: flex-end; }
      body section#tree .content #pricesAndHours #price .iconRound, body section#tree .content #pricesAndHours #hour .iconRound {
        width: 150px;
        height: 150px;
        left: calc(50% - 75px); }
        body section#tree .content #pricesAndHours #price .iconRound i, body section#tree .content #pricesAndHours #hour .iconRound i {
          font-size: 1em; }
      body section#tree .content #pricesAndHours #price ul, body section#tree .content #pricesAndHours #hour ul {
        width: 90%;
        margin-bottom: 7%; }
        body section#tree .content #pricesAndHours #price ul li, body section#tree .content #pricesAndHours #hour ul li {
          margin: 7% 0; }
  body section#four .content #reservation h2 {
    font-size: 3em; }
  body section#four .content #reservation span:nth-child(2) {
    font-size: 4em; }
  body section#four .content #reservation span:nth-child(3) {
    font-size: 2em; } }
@media only screen and (min-width: 768px) {
  body nav #navButton {
    width: 80px;
    height: 80px;
    right: -80px; }
    body nav #navButton #compassBody {
      width: 98%;
      height: 98%; } }
@media only screen and (min-width: 1024px) {
  body nav #navButton {
    display: none; } }

/*# sourceMappingURL=style.css.map */
