@import url('https://fonts.googleapis.com/css?family=Kalam|Dancing+Script');
* {
	margin: 0;
	padding: 0;
	//border: 1px solid red;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;    
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Kalam', cursive;
	font-weight: 400;
	#loadingPage {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-align-items: center;
		-webkit-justify-content: center;
		width: 100vw;
		height: 100vh;
		background-color: #F8FAD7;
		color: white;
		position: absolute;
		z-index: 20;
		-o-transition: opacity .3s;
		transition: opacity .3s;
		-webkit-transition: opacity .3s;
		#loader {
			position: absolute;
			width: 8vmax;
			height: 8vmax;
			border-right: 2px solid red;
			border-radius: 100%;
			animation: spinRight 1000ms linear infinite;
			-webkit-animation: spinRight 1000ms linear infinite;
			&:before, &:after {
				content: '';
				width: 5vmax;
				height: 5vmax;
				display: block;
				position: absolute;
				top: calc(50% - 2.5vmax);
				left: calc(50% - 2.5vmax);
				border-left: 2px solid black;
				border-radius: 100%;
				animation: spinLeft 800ms linear infinite;
				-webkit-animation: spinLeft 800ms linear infinite;
			}
			&:after {
				width: 2vmax;
				height: 2vmax;
				top: calc(50% - 1vmax);
				left: calc(50% - 1vmax);
				border: 0;
				border-right: 2px solid purple;
				animation: none;
				-webkit-animation: none;
			}
			@keyframes spinLeft {
				from {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
				to {-webkit-transform:rotate(720deg);transform:rotate(720deg);}
			}

			@keyframes spinRight {
				from {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
				to {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
			}
			@-webkit-keyframes spinLeft {
				from {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
				to {-webkit-transform:rotate(720deg);transform:rotate(720deg);}
			}

			@-webkit-keyframes spinRight {
				from {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
				to {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
			}
		}
		h1	{
			color: black;
			animation: changeColor 600ms linear infinite;
			-webkit-animation: changeColor 600ms linear infinite;
			font-size: 1.2em;
			letter-spacing: 2px;
		}
		@keyframes changeColor {
			0%   {color:black; -webkit-transform: scale(1); transform: scale(1);opacity: .6}
			50%  {color:red; -webkit-transform: scale(1.1); transform: scale(1.1);opacity: .3;}
			100% {color:purple; -webkit-transform: scale(1); transform: scale(1);opacity: .6;}
		}
		@-webkit-keyframes changeColor {
			0%   {color:black; -webkit-transform: scale(1); transform: scale(1);opacity: .6}
			30%  {color:red; -webkit-transform: scale(1.1); transform: scale(1.1);opacity: .3;}
			100% {color:purple; -webkit-transform: scale(1); transform: scale(1);opacity: .6;}
		}
	}
	#loadingPage.pageLoaded {
		opacity: 0;
	}
	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 20vw;
		height: 100vh;
		background-color: black;
		opacity: .9;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-justify-content: center;
		-o-transition: width .5s;
		transition: width .5s;
		-webkit-transition: width .5s;
		z-index: 19;
		#navButton {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			display: -webkit-flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			-webkit-align-items: center;
			-webkit-justify-content: center;
			width: 50px;
			height: 50px;
			border-radius: 0 50% 50% 0;
			background-color: black;
			opacity: .9;
			position: absolute;
			top: 0;
			right: -50px;
			-o-transition: .5s;
			transition: .5s;
			-webkit-transition: .5s;
			margin-left: 0;
			#compassBody {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				display: -webkit-flex;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-align-items: center;
				-webkit-justify-content: center;
				width: 95%;
				height: 95%;
				background-color: white;
				border: 2px solid black;
				border-radius: 50%;
				opacity: .8;
				#compassNeedle {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					display: -webkit-flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					    -ms-flex-direction: column;
					        flex-direction: column;
					-webkit-box-pack: center;
					    -ms-flex-pack: center;
					        justify-content: center;
					-webkit-justify-content: center;
					width: 17%;
					height: 95%;
					-webkit-transform: rotate(30deg);
					-webkit-transform-origin: 50% 50%;
					-ms-transform: rotate(30deg);
					    transform: rotate(30deg);
					-ms-transform-origin: 50% 50%;
					    transform-origin: 50% 50%;
					-o-transition: all 800ms cubic-bezier(1.000, -0.600, 0.000, 1.650);
					transition: all 800ms cubic-bezier(1.000, -0.600, 0.000, 1.650);
					-webkit-transition: all 800ms cubic-bezier(1.000, -0.600, 0.000, 1.650); 
					-moz-transition: all 800ms cubic-bezier(1.000, -0.600, 0.000, 1.650);
					#needleUp {
						width: 100%;
						height: 50%;
						background-color: black;
						clip-path: polygon(50% 0, 0 100%, 100% 100%);
						-webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);

					}
					#needleDown {
						width: 100%;
						height: 50%;
						background-color: red;
						clip-path: polygon(100% 0, 50% 100%, 0 0);
						-webkit-clip-path: polygon(100% 0, 50% 100%, 0 0);
					}
				}
				#compassNeedle.press {
					-webkit-transform: rotate(930deg);
					-webkit-transform-origin: 50% 50%;
					-ms-transform: rotate(930deg);
					    transform: rotate(930deg);
					-ms-transform-origin: 50% 50%;
					    transform-origin: 50% 50%;
				}
			}
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			width: 100%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			display: -webkit-flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			height: 70%;
			width: 70%;
			li {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				display: -webkit-flex;
				-webkit-box-flex: 1;
				    -ms-flex: 1;
				        flex: 1;
				-webkit-flex: 1;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				-webkit-justify-content: space-between;
				-o-transition: .4s;
				transition: .4s;
				-webkit-transition: .4s;
				font-size: 1vw;
				font-weight: lighter;
				color: white;
				i {
					-webkit-box-flex: 1;
					    -ms-flex: 1;
					        flex: 1;
					-webkit-flex: 1;
					font-size: 2em;
					-o-transition: opacity .4s;
					transition: opacity .4s;
					-webkit-transition: opacity .4s;
				}
				span {
					-webkit-box-flex: 3;
					    -ms-flex: 3;
					        flex: 3;
					-webkit-flex: 3;
					-o-transition: opacity .2s;
					transition: opacity .2s;
					-webkit-transition: opacity .2s;
					text-transform: uppercase;
					font-size: 1.5em;
					text-align: center;
				}
				&:hover {
					color: red;
					cursor: pointer;
				}
			}
			li.red {
				color: red;
			}
		}
	}
	nav.off {
		width: 0vw;
		
		ul {
			li {
				opacity: 0;
			}
		}
	}
	section {
		width: 100vw;
		height: 100vh;
		display: none;
    	filter: blur(35px);
    	-webkit-filter: blur(35px);
		opacity: 0;
		-webkit-opacity: 0;
		overflow: hidden;
		-o-transition: .5s;
		transition: .5s;
		-webkit-transition: .5s;
		.wallpapers {
			z-index: -1;
			width: 100%;
			height: 100%;
			position: absolute;
			animation: zoom infinite 30s;
			-webkit-animation: zoom infinite 30s;
		}
		@keyframes zoom {
			0% {-webkit-transform: scale(1);transform: scale(1); -webkit-filter: sepia(100%) saturate(100%); filter: sepia(100%) saturate(100%);}
			50% {-webkit-transform: scale(1.2);transform: scale(1.2); -webkit-filter: sepia(0%) saturate(110%); filter: sepia(0%) saturate(110%);}
			100% {-webkit-transform: scale(1);transform: scale(1); -webkit-filter: sepia(100%) saturate(100%); filter: sepia(100%) saturate(100%);}
		}
		@-webkit-keyframes zoom {
			0% {-webkit-transform: scale(1);transform: scale(1); -webkit-filter: sepia(100%) saturate(100%); filter: sepia(100%) saturate(100%);}
			50% {-webkit-transform: scale(1.2);transform: scale(1.2); -webkit-filter: sepia(0%) saturate(110%); filter: sepia(0%) saturate(110%);}
			100% {-webkit-transform: scale(1);transform: scale(1); -webkit-filter: sepia(100%) saturate(100%); filter: sepia(100%) saturate(100%);}
		} 
		.emptyContent {
			width: 20%;
			float: left;
			-o-transition: .5s;
			transition: .5s;
			-webkit-transition: .5s;
		}
		.content {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			display: -webkit-flex;
			width: 80%;
			height: 100%;
			float: right;		
			-webkit-box-pack: center;		
			    -ms-flex-pack: center;		
			        justify-content: center;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-webkit-justify-content: center;
			-webkit-align-items: center;
			text-shadow: 2px -1px 2px #000000;
			-webkit-text-shadow: 2px -1px 2px #000000;
			color: white;
		}
	}
	section#one {
		.wallpapers {
			background: url("../img/1.jpg") no-repeat center;
			background-size: cover;
		}
		.content {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			h1, p {
				width: 70%;
				margin: 2%;
				text-align: left;
			}
			h1 {
				font-size: 5em;
			}
			p {
				font-size: 2em;
			}
		}
	}
	section#two {
		.wallpapers {
			background: url("../img/2.jpg") no-repeat center;
			background-size: cover;
		}
		.content {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			.slideshow-container {
				width: 60%;
				height: 70%;
				position: relative;
				text-shadow: none;
				-webkit-text-shadow: none;
				.mySlides {
					background-image: url("../img/mini-map.jpg");
					background-size: 100% 100%;
					width: 100%;
					height: 100%;
					opacity: .9;
					display: none;
					color: black;
					-webkit-box-orient: horizontal;
					-webkit-box-direction: normal;
					    -ms-flex-direction: row;
					        flex-direction: row;
					-webkit-box-align: center;
					    -ms-flex-align: center;
					        align-items: center;
					-webkit-align-items: center;
					border: .5vw solid rgb(51, 26, 0);
					border-radius: 5px;
					.numbertext {
						width: 100%;
						text-align: center;
						font-size: 1.5em;
						padding: 1%;
						font-weight: bold;
						position: absolute;
						color: rgba(67,143,72,1);
						top: 0;
						color: rgb(179, 221, 112);
						text-shadow: 2px 2px 2px  rgba(67,143,72,1);
						-webkit-text-shadow: 2px 2px 2px  rgba(67,143,72,1);
					}
					img {
						position: absolute;
						width: 25%;
						left: 5%;
						top: 50%;
						border-radius: 50%;
						border: 6px solid white;
					}
					.text {
						font-size: 1.3vw;
						font-weight: 700;
						position: absolute;
						left: 8%;
						top: 30%;
						padding: 3px 5px;
						text-align: center;
						text-transform: uppercase;
						background-color: white;
						opacity: .8;
						border-radius: 10px;
					}
					.target {
						position: absolute;
						color: black;
						width: 3%;
						height: 4%;
						border-radius: 50%;
						opacity: .9;
 						animation: puls infinite 1s;
 						-webkit-animation: puls infinite 1s;
						-webkit-box-shadow: 0px 0px 5px 3px rgba(255,82,82,1);
						box-shadow: 0px 0px 5px 3px rgba(255,82,82,1); 
					}
					@keyframes puls {
						0% {-webkit-transform: scale(.95);transform: scale(.95);opacity: .1;}
						50% {-webkit-transform: scale(1.1);transform: scale(1.1);opacity: .95;}
						100% {-webkit-transform: scale(.95);transform: scale(.95);opacity: .1;}
					}
					@-webkit-keyframes puls {
						0% {-webkit-transform: scale(.95);transform: scale(.95); opacity: .1; -webkit-box-shadow: 0px 0px 5px 3px rgba(255,82,82,1); box-shadow: 0px 0px 5px 3px rgba(255,82,82,1);}
						50% {-webkit-transform: scale(1.1);transform: scale(1.1);opacity: .95; -webkit-box-shadow: 0px 0px 10px 5px rgba(255,82,82,1); box-shadow: 0px 0px 10px 5px rgba(255,82,82,1);}
						100% {-webkit-transform: scale(.95);transform: scale(.95);opacity: .1; -webkit-box-shadow: 0px 0px 5px 3px rgba(255,82,82,1); box-shadow: 0px 0px 5px 3px rgba(255,82,82,1);}
					} 
					.target#id1 {
						background-color: red;
						left: 31.3%;
						top: 63.45%;
					}
					.target#id2 {
						background-color: red;
						left: 42.5%;
						top: 89.5%;
					}
					.target#id3 {
						background-color: red;
						left: 54.2%;
						top: 93.2%;
					}
					.target#id4 {
						background-color: red;
						left: 52.3%;
						top: 83.6%;
					}
					.target#id5 {
						background-color: red;
						left: 39.8%;
						top: 64.6%;
					}
					.target#id6 {
						background-color: red;
						left: 44.95%;
						top: 61.4%;
					}
					.target#id7 {
						background-color: red;
							left: 48.55%;
							top: 55.65%;
					}
					.target#id8 {
						background-color: red;
							left: 59.5%;
							top: 43.3%;
					}
					.target#id9 {
						background-color: red;
						left: 61.2%;
						top: 36.65%;
					}
					.target#id10 {
						background-color: red;
						left: 60.35%;
						top: 13.7%;
					}
					.target#id11 {
						background-color: red;
						left: 61.8%;
						top: 6.6%;
					}
					.target#id12 {
						background-color: red;
						left: 26.7%;
						top: 13.5%;
					}
					.target#id13 {
						background-color: red;
						left: 13.9%;
						top: 10.8%;
					}
					.target#id14 {
						background-color: red;
						left: 51.6%;
						top: 20.1%;
					}
					.target#id15 {
						background-color: red;
						left: 50.6%;
						top: 38.5%;
					}
					.target#id16 {
						background-color: red;
						left: 48.6%;
						top: 45.8%;
					}
					.target#id17 {
						background-color: red;
						left: 32.92%;
						top: 54.4%;
					}
				}
				.fade {
					-webkit-animation-name: fade;
					-webkit-animation-duration: 1.5s;
					animation-name: fade;
					animation-duration: 1.5s;
				}
				@-webkit-keyframes fade {
					from {opacity: 0.6} 
					to {opacity: .9}
				}
				@keyframes fade {
					from {opacity: 0.6} 
					to {opacity: .9}
				}
				.prev, .next {
					cursor: pointer;
					position: absolute;
					top: 50%;
					font-weight: bold;
					font-size: 4em;
					-o-transition: 0.2s ease;
					transition: 0.2s ease;
					-webkit-transition: 0.2s ease;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					-ms-transform: translateY(-50%);
					    transform: translateY(-50%);
					-webkit-transform: translateY(-50%);  
				}
				.next {
					right: -1%;
					color: white;
					text-shadow: 6px 0px 10px rgba(179, 221, 112, 1);
					-webkit-text-shadow: 6px 0px 10px rgba(179, 221, 112, 1);
					&:active {
						font-size: 3.8em;
					}
				}
				.prev {
					left: -1%;
					color: rgb(179, 221, 112);
					text-shadow: -6px 0px 10px  rgba(67,143,72,1);
					-webkit-text-shadow: -6px 0px 10px  rgba(67,143,72,1);
					&:active {
						font-size: 3.8em;
					}
				}
			}
			h3 {
				margin-top: 5%;
				text-transform: uppercase;
				font-weight: 900;
				text-align: center;
			}
		}
	}
	section#tree {
		.wallpapers {
			background: url("../img/3.jpg") no-repeat center;
			background-size: cover;
		}
		.content {
			#pricesAndHours {
				position: absolute;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				display: -webkit-flex;
				width: 80%;
				height: 70%;
				opacity: .9;
				-webkit-perspective: 120px;
				perspective: 120px;
				#price, #hour {
					position: relative;
					-webkit-box-flex: 1;
					    -ms-flex: 1;
					        flex: 1;
					-webkit-flex: 1;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					display: -webkit-flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					    -ms-flex-direction: column;
					        flex-direction: column;
					color: white;
					background-color: black;
					border-radius: 4px;
					text-shadow: none;
					font-weight: 700;
					font-size: 1.7em;
					text-align: center;
					border: 12px solid rgb(26, 13, 0);
					-webkit-box-pack: end;
					    -ms-flex-pack: end;
					        justify-content: flex-end;
					-webkit-box-align: center;
					    -ms-flex-align: center;
					        align-items: center;
					-webkit-justify-content: flex-end;
					-webkit-align-items: center;
					margin: 0 8%;
					-webkit-transform-style: preserve-3d;
					-webkit-transform: rotateX(2deg);
					transform-style: preserve-3d;
					transform: rotateX(2deg);
					-webkit-box-shadow: 10px 15px 30px -1px rgb(0, 0, 0);
					box-shadow: 10px 15px 30px -1px rgb(0, 0, 0);
					text-shadow: 0px 0px 5px white;
					-webkit-text-shadow: 0px 0px 4px white;
					.iconRound {
						position: absolute;
						top: 5%;
						display: -webkit-box;
						display: -ms-flexbox;
						display: flex;
						display: -webkit-flex;
						-webkit-box-pack: center;
						    -ms-flex-pack: center;
						        justify-content: center;
						-webkit-box-align: center;
						    -ms-flex-align: center;
						        align-items: center;
						-webkit-justify-content: center;
						-webkit-align-items: center;
						width: 150px;
						height: 150px;
						border-radius: 50%;
						background-color: black;
						opacity: .9;
						border: 2px solid white;
						box-shadow: 0px 0px 5px 2px rgba(143,143,143,1);
						-webkit-box-shadow: 0px 0px 5px 2px rgba(143,143,143,1);
						i {
							font-size: 2.5em;
							color: white;
						}				
					}
					ul {
						width: 75%;
						list-style-type: none;
						margin-bottom: 2%;
						li {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							display: -webkit-flex;
							-webkit-box-orient: horizontal;
							-webkit-box-direction: normal;
							    -ms-flex-direction: row;
							        flex-direction: row;
							-webkit-box-align: center;
							    -ms-flex-align: center;
							        align-items: center;
							-webkit-align-items: center;
							-webkit-box-pack: justify;
							    -ms-flex-pack: justify;
							        justify-content: space-between;
							-webkit-justify-content: space-between;
							margin: 5% 0;
							span {
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								display: -webkit-flex;
								-webkit-box-align: center;
								    -ms-flex-align: center;
								        align-items: center;
								-webkit-align-items: center;
								text-transform: uppercase;							
								-webkit-box-orient: horizontal;							
								-webkit-box-direction: normal;							
								    -ms-flex-direction: row;							
								        flex-direction: row;
								&:nth-child(1) {
									-webkit-box-flex: 2;
									    -ms-flex: 2;
									        flex: 2;
									-webkit-flex: 2;
								}
								&:nth-child(2) {
									-webkit-box-flex: 1;
									    -ms-flex: 1;
									        flex: 1;
									-webkit-flex: 2;
								}
							}
							span.agePrice {
								color: red;
								font-size: 1.1em;
								text-transform: lowercase;
								-webkit-box-pack: end;
								    -ms-flex-pack: end;
								        justify-content: flex-end;
								-webkit-justify-content: flex-end;
								text-shadow: 0px 0px 4px red;
								-webkit-text-shadow: 0px 0px 4px red;
								
							}
							span.ageInfo {
								margin-left: 4%;
								font-size: .5em;
							}
						}
					}
				}
				#hour {
					ul {
						li {
							-webkit-box-pack: center;
							    -ms-flex-pack: center;
							        justify-content: center;
							-webkit-justify-content: center;
							&:nth-child(1) {
								font-size: 1.3em;
							}
							&:nth-child(2), &:nth-child(3) {
								font-size: 1.3em;
								color: red;
								text-shadow: 0px 0px 4px red;
								-webkit-text-shadow: 0px 0px 4px red;
								sup {
									font-size: .6em;
									padding-bottom: 5%;
									margin: 0 2%; 
								}
							}
						}
					}
				}
			}
		}
	}
	section#four {
		.wallpapers {
			background: url("../img/4.jpg") no-repeat center;
			background-size: cover;
		}
		.content {
			height: 94vh;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: reverse;
			    -ms-flex-direction: row-reverse;
			        flex-direction: row-reverse;
			color: black;
			text-shadow: 2px 1px 1px #FFFFFF;
			-webkit-text-shadow: 2px 1px 1px #FFFFFF;
			#location, #reservation {
				height: 100%;
				font-weight: 700;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				display: -webkit-flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
			}
			#location {
				-webkit-box-flex: 2;
				    -ms-flex: 2;
				        flex: 2;
				-webkit-flex: 2;
				-webkit-justify-content: center;
				-webkit-align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				#map {
					position: relative;
					width: 98%;
					height: 98%;
					border-radius: 5px;
					opacity: .9;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					display: -webkit-flex;
					-webkit-box-pack: center;
					    -ms-flex-pack: center;
					        justify-content: center;
					-webkit-justify-content: center;
					-webkit-box-shadow: 0px 0px 77px -6px rgba(0,0,0,0.75);
					box-shadow: 0px 0px 77px -6px rgba(0,0,0,0.75);				
				}
				h4 {
					position: absolute;
					width: 95%;
					margin: 0 auto;
					bottom: 0;
					text-align: center;
					text-transform: uppercase;
					font-size: 1.2em;
					z-index: 1000;
				}
			}
			#reservation {
				-webkit-box-flex: 3;
				    -ms-flex: 3;
				        flex: 3;
				-webkit-flex: 3;
				-webkit-justify-content: center;
				-webkit-align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				h2 {
					font-size: 3em;
				}
				span {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					display: -webkit-flex;
					-webkit-box-orient: horizontal;
					-webkit-box-direction: normal;
					    -ms-flex-direction: row;
					        flex-direction: row;
					-webkit-box-align: baseline;
					    -ms-flex-align: baseline;
					        align-items: baseline;
					-webkit-align-items: baseline;
					text-transform: uppercase;
					i {
						margin-right: 3%;
					}
					&:nth-child(2) {
						color: red;
						margin: 10%;
						font-size: 3em;
						i {
							font-size: 1em;
							-ms-transform: rotate(0deg);
							    transform: rotate(0deg);
							-webkit-transform: rotate(0deg);
							animation: shake 3s infinite;
							-webkit-animation: shake 3s infinite;										
						}
						@keyframes shake {

							0% {-webkit-transform: rotate(0deg) scale(1);transform: rotate(0deg) scale(1);}
							2% {-webkit-transform: rotate(-15deg) scale(1.5);transform: rotate(-15deg) scale(1.5);}
							4% {-webkit-transform: rotate(0deg) scale(1.5);transform: rotate(0deg) scale(1.5);}
							8% {-webkit-transform: rotate(-15deg) scale(1.5);transform: rotate(-15deg) scale(1.5);}
							10% {-webkit-transform: rotate(0deg) scale(1.5);transform: rotate(0deg) scale(1.5);}
							12% {-webkit-transform: rotate(-15deg) scale(1.5);transform: rotate(-15deg) scale(1.5);}
							14% {-webkit-transform: rotate(0deg) scale(1.5);transform: rotate(0deg) scale(1.5);}
							16% {-webkit-transform: rotate(-15deg) scale(1.5);transform: rotate(-15deg) scale(1.5);}
							18% {-webkit-transform: rotate(0deg) scale(1);transform: rotate(0deg) scale(1);}
							100% {-webkit-transform: rotate(0deg) scale(1);transform: rotate(0deg) scale(1);}
						}
						@-webkit-keyframes shake {
							0% {-webkit-transform: rotate(0deg) scale(1);transform: rotate(0deg) scale(1);}
							2% {-webkit-transform: rotate(-15deg) scale(1.5);transform: rotate(-15deg) scale(1.5);}
							4% {-webkit-transform: rotate(0deg) scale(1.5);transform: rotate(0deg) scale(1.5);}
							8% {-webkit-transform: rotate(-15deg) scale(1.5);transform: rotate(-15deg) scale(1.5);}
							10% {-webkit-transform: rotate(0deg) scale(1.5);transform: rotate(0deg) scale(1.5);}
							12% {-webkit-transform: rotate(-15deg) scale(1.5);transform: rotate(-15deg) scale(1.5);}
							14% {-webkit-transform: rotate(0deg) scale(1.5);transform: rotate(0deg) scale(1.5);}
							16% {-webkit-transform: rotate(-15deg) scale(1.5);transform: rotate(-15deg) scale(1.5);}
							18% {-webkit-transform: rotate(0deg) scale(1);transform: rotate(0deg) scale(1);}
							100% {-webkit-transform: rotate(0deg) scale(1);transform: rotate(0deg) scale(1);}
						}
						p {
							letter-spacing: 2px;
						}
					}
					&:nth-child(3) {
						font-size: 1.8em;
						cursor: pointer;
						i {
							font-size: 1.8em;
							animation: write 3s infinite;
							-webkit-animation: write 3s infinite;
						}
						@keyframes write {
							0% {-webkit-transform: translate(0%, 0%);transform: translate(0%, 0%);}
							60% {-webkit-transform: translate(0%, 0%) scale(1) rotate(0deg);transform: translate(0%, 0%) scale(1) rotate(0deg);}
							65% {-webkit-transform: translate(-10%, -30%) scale(1.5) rotate(-5deg);transform: translate(-10%, -30%) scale(1.5) rotate(-5deg);}
							70% {-webkit-transform: translate(10%, 10%) scale(1.5) rotate(5deg);transform: translate(10%, 10%) scale(1.5) rotate(5deg);}
							75% {-webkit-transform: translate(20%, -30%) scale(1.5) rotate(-5deg);transform: translate(20%, -30%) scale(1.5) rotate(-5deg);}
							80% {-webkit-transform: translate(30%, 10%) scale(1.5) rotate(5deg);transform: translate(30%, 10%) scale(1.5) rotate(5deg);}
							95% {-webkit-transform: translate(40%, -30%) scale(1.5) rotate(-5deg);transform: translate(40%, -30%) scale(1.5) rotate(-5deg);}
							100% {-webkit-transform: translate(0%, 0%) scale(1) rotate(0deg);transform: translate(0%, 0%) scale(1) rotate(0deg);}
						}
						@-webkit-keyframes write {
							0% {-webkit-transform: translate(0%, 0%);transform: translate(0%, 0%);}
							60% {-webkit-transform: translate(0%, 0%) scale(1) rotate(0deg);transform: translate(0%, 0%) scale(1) rotate(0deg);}
							65% {-webkit-transform: translate(-10%, -30%) scale(1.5) rotate(-5deg);transform: translate(-10%, -30%) scale(1.5) rotate(-5deg);}
							70% {-webkit-transform: translate(10%, 10%) scale(1.5) rotate(5deg);transform: translate(10%, 10%) scale(1.5) rotate(5deg);}
							75% {-webkit-transform: translate(20%, -30%) scale(1.5) rotate(-5deg);transform: translate(20%, -30%) scale(1.5) rotate(-5deg);}
							80% {-webkit-transform: translate(30%, 10%) scale(1.5) rotate(5deg);transform: translate(30%, 10%) scale(1.5) rotate(5deg);}
							95% {-webkit-transform: translate(40%, -30%) scale(1.5) rotate(-5deg);transform: translate(40%, -30%) scale(1.5) rotate(-5deg);}
							100% {-webkit-transform: translate(0%, 0%) scale(1) rotate(0deg);transform: translate(0%, 0%) scale(1) rotate(0deg);}
						}
					}
				}
			}
		}
		#footer {
			position: absolute;
			height: 6vh;
			width: 80vw;
			bottom: 0;
			right: 0;
			background-color: black;
			opacity: .9;
			color: white;
			z-index: 18;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			display: -webkit-flex;
			-webkit-justify-content: center;
			-webkit-align-items: center;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			p {
				position: relative;
				font-size: .7em;
				text-transform: uppercase;
				-ms-user-select: none;
				    user-select: none;
				letter-spacing: .2vw; 
				-webkit-align-items: center;
				-webkit-user-select: none; 
				-moz-user-select: none; 
				display: -webkit-box; 
				display: -ms-flexbox; 
				display: flex;
				display: -webkit-flex;
				-webkit-justify-content: center;
				-webkit-align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-box-align: baseline;
				    -ms-flex-align: baseline;
				        align-items: baseline;
				-webkit-align-items: baseline;
				span#heart {
					i {
						font-size: 1.5em;
						margin: 0 .3vw;
						animation: beat 3s infinite;
						-webkit-animation: beat 3s infinite;
						color: rgb(89, 0, 179);	
					}
					@keyframes beat {
						0% {-webkit-transform: scale(1);transform: scale(1)}
						20% {-webkit-transform: scale(1);transform: scale(1)}
						25% {-webkit-transform: scale(1.5);transform: scale(1.5)}
						30% {-webkit-transform: scale(.9);transform: scale(.9)}
						35% {-webkit-transform: scale(1.3);transform: scale(1.3)}
						40% {-webkit-transform: scale(1);transform: scale(1)}
						100% {-webkit-transform: scale(1);transform: scale(1)}
					}
					@-webkit-keyframes beat {
						0% {-webkit-transform: scale(1);transform: scale(1)}
						20% {-webkit-transform: scale(1);transform: scale(1)}
						30% {-webkit-transform: scale(1.5);transform: scale(1.5)}
						40% {-webkit-transform: scale(.9);transform: scale(.9)}
						50% {-webkit-transform: scale(1.3);transform: scale(1.3)}
						60% {-webkit-transform: scale(1);transform: scale(1)}
						100% {-webkit-transform: scale(1);transform: scale(1)}
					}
				}
				span#myMail {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					display: -webkit-flex;
					-webkit-box-align: center;
					    -ms-flex-align: center;
					        align-items: center;
					font-family: 'Dancing Script', cursive;		
					-webkit-box-orient: horizontal;		
					-webkit-box-direction: normal;		
					    -ms-flex-direction: row;		
					        flex-direction: row;
					letter-spacing: 0vw;
					text-transform: lowercase;
					font-size: 1.8em;
					color: red;
					cursor: pointer;
					-o-transition: .2s;
					transition: .2s;
					-webkit-transition: .2s;
					-ms-user-select: auto;
					    user-select: auto; 
					-webkit-user-select: auto; 
					-moz-user-select: auto;
					&:active {
						opacity: .3;
						font-size: 1.7em;
					}
				}
				#myMailInfo {
					opacity: 0;
					-o-transition: .3s;
					transition: .3s;
					-webkit-transition: .3s;
					position: absolute;
					top: -50%;
					left: 90%;
					background-color: white;
					color: black;
					text-align: center;
					padding: 1% 2%;
					border-radius: 10px;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
				#myMailInfo.copied {
					opacity: 1;
					-webkit-opacity: 1;
				}
			}
		}
	}

	/*add/remove classes*/
	section.changeEffects {
		opacity: 1;
		filter: blur(0px);
		-webkit-filter: blur(0px);
		-webkit-opacity: 1;
	}
	section.displayFlex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
	}
	section {
		.emptyContent.hide {
			width: 0%;
		}
	}
}
@media only screen and (max-width: 768px) {
    body {
        nav {
        	width: 30vw;
        	ul {
        		width: 90%;
        		height: 90%;
        		li {
        			border: none;
        			padding: 0;
    				font-size: .6em;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					    -ms-flex-direction: column;
					        flex-direction: column;
					-webkit-box-pack: center;
					    -ms-flex-pack: center;
					        justify-content: center;
					-webkit-justify-content: center;
					i {
						font-size: 3em;
						-webkit-box-flex: 0;
						    -ms-flex: 0;
						        flex: 0;
						margin: 3%;
					}
					span {
						-webkit-box-flex: 0;
						    -ms-flex: 0;
						        flex: 0;
					}
        		}
        	}
        }
        section { 
        	.emptyContent {
				display: none;
			}
        	.content {
        		width: 100%;
        	}
        }
        section#one {
        	.content {
				h1 {
					font-size: 4em;
					text-align: right;
					margin-bottom: 0%;
				}
				p {
					width: 90%;
					font-size: 1.3em;
					text-align: center;
					text-transform: uppercase;
					line-height: 1.2;
				}
        	}
        }
        section#two {
        	.content {
	        	.slideshow-container {
	        		width: 99%;
	        		height: 99%;
					.mySlides {
						-webkit-box-orient: horizontal;
						-webkit-box-direction: normal;
						    -ms-flex-direction: row;
						        flex-direction: row;
						border-radius: 10px;
						.text {
							font-size: 3vw;
						}
						img {
							border: 4px solid white;
						}
					}
					.prev, .next {
						font-size: 2.8em;
						&:active {
							font-size: 2.5em;
						}
					}
					.prev {
						left: 2%;
					}
					.next {
						right: 2%;
					}
	        	}
	        	h3 {
	        		width: 90%;
	        	}        		
        	}
        }
		section#tree {
			.content {
				#pricesAndHours {
					width: 80%;
					height: 80%;
					-webkit-box-orient: vertical;
					-webkit-box-direction: reverse;
					    -ms-flex-direction: column-reverse;
					        flex-direction: column-reverse;
					#price, #hour {
						margin: 5% 0;
						-webkit-box-pack: center;
						    -ms-flex-pack: center;
						        justify-content: center;
						-webkit-justify-content: center;
						-webkit-box-align: center;
						    -ms-flex-align: center;
						        align-items: center;
						.iconRound {
							width: 50px;
							height: 50px;
							opacity: .9;
							-webkit-opacity: .9;
							border: 1px solid white;
							box-shadow: 0px 0px 8px 3px rgba(143,143,143,1);
							-webkit-box-shadow: 0px 0px 8px 3px rgba(143,143,143,1);
							i {
								font-size: 1em;
								color: white
							}				
						}
						ul {
							display: -webkit-box;
							display: -ms-flexbox;
							display: flex;
							display: -webkit-flex;
							width: 80%;
							height: 60%;
							margin-top: 15%;
							-webkit-box-pack: justify;
							    -ms-flex-pack: justify;
							        justify-content: space-between;
							-webkit-justify-content: space-between;
							-webkit-box-orient: vertical;
							-webkit-box-direction: normal;
							    -ms-flex-direction: column;
							        flex-direction: column;
							font-size: .8em;
							li {
								margin: 10% 0;
							}
						}
					}
					#price {
						z-index: 16;
						ul {
							li {
								span.ageInfo {
									font-size: .4em;
								}
							}
						}
					}
					#hour {
						ul {
							li {
								&:nth-child(1) {
									font-size: 1em;
								}
							}
						}
					}
				}
			}
		}
        section#four {
			.content {
				-webkit-box-orient:	vertical;
				-webkit-box-direction:	reverse;
				    -ms-flex-direction:	column-reverse;
				        flex-direction:	column-reverse;
				#location, #reservation {
					width: 100%;
					height: 50%;
				}
				#reservation {
					h2 {
						font-size: 1.7em;
					}
					span {
						&:nth-child(2) {
							font-size: 2.1em;
						}
						&:nth-child(3) {
							font-size: 1em;
						}
					}
				}
				#location {
					#map {
						h4 {
							font-size: .8em;
						}
					}
				}
			}
			#footer {
				width: 100vw;
				p {
					font-size: .5em;
				}
			}
        }
    }
}

@media only screen and (orientation: landscape) and (max-device-width: 768px)  {
    body {
        nav {
        	ul {
        		li {
    				-webkit-box-orient: horizontal;
    				-webkit-box-direction: normal;
    				    -ms-flex-direction: row;
    				        flex-direction: row;
    				-webkit-box-pack: center;
    				    -ms-flex-pack: center;
    				        justify-content: center;
					-webkit-justify-content: center;
					i {
						-webkit-box-flex: 1;
						    -ms-flex: 1;
						        flex: 1;
						-webkit-flex: 1;
						margin: 0;
						text-align: center;
					}
    				span {
    					-webkit-box-flex: 3;
    					    -ms-flex: 3;
    					        flex: 3;
    					-webkit-flex: 3;
    					font-size: 2em;
    				}
        		}
        	}
        }
        section#two {
			.content {
				.slideshow-container {
					height: 85%;
					width: 70%;
					.mySlides {
						.text {
							width: 40%;
							font-size: 2vw;
						}
					}
				}
				h3 {
					margin: 0;
					width: 100%;
					font-size: 1em;
				}        		
			}
        }
		section#tree {
			.content {
				#pricesAndHours {
					width: 80%;
					height: 70%;
					-webkit-box-orient: horizontal;
					-webkit-box-direction: normal;
					    -ms-flex-direction: row;
					        flex-direction: row;
					font-weight: 400;
					#price, #hour {
						font-size: 1.5em;
						margin: 1%;
						.iconRound {
							left: calc(50% - 25px);
							width: 50px;
							height: 50px;
							border: 1px solid white;
							i {
								font-size: 1em;
							}				
						}
						ul {
							height: 95%;
							width: 90%;
							margin-top: 30%;
							-webkit-box-pack: center;
							    -ms-flex-pack: center;
							        justify-content: center;
							-webkit-justify-content: center;
							li {
								margin: 2% 0;
							}
						}
					}
					#hour {
						ul {

							margin-right: 0%;
							li {
								&:nth-child(1) {
									font-size: 1.1em;
								}
								&:nth-child(2), &:nth-child(3) {
									font-size: 1.1em;
									color: red;
								}	
							}
						}
					}
				}
			}
		}
		section#four {
			.content {
				-webkit-box-orient:	horizontal;
				-webkit-box-direction:	reverse;
				    -ms-flex-direction:	row-reverse;
				        flex-direction:	row-reverse;
				#location, #reservation {
					width: 50%;
					height: 100%;
				}
				#location {
				}
			}	
		}
    }
}
@media only screen and (orientation: portrait) and (max-device-width: 768px)  {
	body {
		section {
			@keyframes zoom {
				0% {-webkit-transform: scale(1);transform: scale(1); -webkit-filter: sepia(100%) saturate(100%); filter: sepia(100%) saturate(100%);}
				50% {-webkit-transform: scale(1.1);transform: scale(1.1); -webkit-filter: sepia(0%) saturate(110%); filter: sepia(0%) saturate(110%);}
				100% {-webkit-transform: scale(1) ;transform: scale(1) ; -webkit-filter: sepia(100%) saturate(100%); filter: sepia(100%) saturate(100%);}
			}
			@-webkit-keyframes zoom {
				0% {-webkit-transform: scale(1);transform: scale(1); -webkit-filter: sepia(100%) saturate(100%); filter: sepia(100%) saturate(100%);}
				50% {-webkit-transform: scale(1.1);transform: scale(1.1); -webkit-filter: sepia(0%) saturate(110%); filter: sepia(0%) saturate(110%);}
				100% {-webkit-transform: scale(1);transform: scale(1); -webkit-filter: sepia(100%) saturate(100%); filter: sepia(100%) saturate(100%);}
			}
		}
		section#two {
			.content {
				.slideshow-container {
					width: 99%;
					height: 50%;
				}
			}
		}
		section#one, section#two, section#tree, section#four {
			.wallpapers {
				background-position: 35% 100%;
				background-size: auto 100%;
				animation: zoom infinite 10s;
				-webkit-animation: zoom infinite 10s;
			}
		} 
	}
}
@media only screen and (orientation: portrait) and (min-device-width: 768px) {
	body {
		nav {
			ul {
				li {
					font-size: 1.3vw;
				}
			}
		}
		section#one {
			.content {
				h1 {
				font-size: 9em;
				text-align: center;
				margin-bottom: 10%;
				}
				p {
				width: 80%;
				font-size: 2em;
				text-align: justify;
				text-transform: uppercase;
				line-height: 1.8;
				}
			}
		}
		section#two {
			.content {
				.slideshow-container {
					width: 90%;
					height: 80%;
					.mySlides {
						-webkit-box-orient: vertical;
						-webkit-box-direction: normal;
						    -ms-flex-direction: column;
						        flex-direction: column;
						.numbertext, .text {
							font-size: 2.5vw;
						}
						img {
							margin: 5%;
							top: 35%;
							left: 2%;
						}
					}
				}
			}
		}
		section#tree {
			.content {
				font-size: 3em;
				#pricesAndHours {
					height: 90%;
					font-size: .6em;
					#price, #hour {
						height: 100%;
						width: 100%;
						-webkit-box-pack: end;
						    -ms-flex-pack: end;
						        justify-content: flex-end;
						-webkit-justify-content: flex-end;
						.iconRound {
							width: 120px;
							height: 120px;
							left: calc(50% - 60px);
							i {
								font-size: 1em;
							}
						}
						ul {
							width: 60%;
							margin-top: 10%;
							li {
								margin: 7% 0;
							}
						}
					}
				}
			}
		}
		section#four {
			.content {
				#reservation {
					h2 {
						font-size: 3em;
						}
					span {
						&:nth-child(2) {
							font-size: 4em;
						}
						&:nth-child(3) {
							font-size: 2em; 
						}
					}
				}
			}
		}
	}
}
@media only screen and (orientation: landscape) and (min-device-width: 1024px) and (max-device-height: 768px) {
	body {
		section#two {
			.content {
				.slideshow-container {
					width: 80%;
				}
			}
		}
		section#tree {
			.content {
				#pricesAndHours {
					height: 55%;
					#price, #hour {
						margin:0 5%;
						ul {
							width: 90%;
						}
						.iconRound {
							top: 10%;
							width: 120px;
							height: 120px;
							left: calc(50% - 60px);
							i {
								font-size: 2em;
							}
						}
					}
				}
			}
		}
		section#four {
			.content {
				#reservation {
					span {
						&:nth-child(3) {
							font-size: 1.5em;
						}
					}
				}
			}
		}	
	}
}
@media only screen and (min-width: 768px) {
	body {
		nav {
			#navButton {
				width: 80px;
				height: 80px;
				right: -80px;
				#compassBody {
					width: 98%;
					height: 98%;
				}
			}
		}
	}
}
@media only screen and (min-width: 1024px) {
	body {
		nav {
			#navButton {
				display: none;
			}
		}
	}
}

